@{ ViewData["Title"] = "Home Page"; }

<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li>
            <a>
                <h3>User Dashboard</h3>
            </a>

        </li>
        <li>
            <a href="/">
                <h3>Home</h3>
            </a>
        </li>
        <li>
            <a href="/loginpage">
                <h3 class="margined">Sign In</h3>
            </a>
        </li>
    </ul>
</nav>
<hr />
<div class="jumbotron">
    <h1 class="display-3">User Dashboard Assignment</h1>

</div>

<style>
    .margined {
        margin-left: 650px;
    }
    
    .jumbotron {
        text-align: center;
    }
</style>